FormDirecciones/Service References/SRDireccion/DireccIp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DiagnosticoIp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ip" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DiagnosticoIpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DiagnosticoIpResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DiagnosticoIpSoapIn">
    <wsdl:part name="parameters" element="tns:DiagnosticoIp" />
  </wsdl:message>
  <wsdl:message name="DiagnosticoIpSoapOut">
    <wsdl:part name="parameters" element="tns:DiagnosticoIpResponse" />
  </wsdl:message>
  <wsdl:portType name="DireccIpSoap">
    <wsdl:operation name="DiagnosticoIp">
      <wsdl:input message="tns:DiagnosticoIpSoapIn" />
      <wsdl:output message="tns:DiagnosticoIpSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DireccIpSoap" type="tns:DireccIpSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DiagnosticoIp">
      <soap:operation soapAction="http://tempuri.org/DiagnosticoIp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DireccIpSoap12" type="tns:DireccIpSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DiagnosticoIp">
      <soap12:operation soapAction="http://tempuri.org/DiagnosticoIp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DireccIp">
    <wsdl:port name="DireccIpSoap" binding="tns:DireccIpSoap">
      <soap:address location="http://localhost:1810/DireccIp.asmx" />
    </wsdl:port>
    <wsdl:port name="DireccIpSoap12" binding="tns:DireccIpSoap12">
      <soap12:address location="http://localhost:1810/DireccIp.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>